build --incompatible_enable_cc_toolchain_resolution

build --features=c++20
build --features=-c++17
build --compiler=compiler

build --nostart_end_lib

build --experimental_dont_emit_static_libgcc

build --strip never

test --test_output=errors

build --workspace_status_command=tools/workspace_status.sh

build -c opt

build --stamp

build:host --platforms=@local_config_platform//:host
build:host --linkopt=-lrt

build:target --platforms=@com_github_mjbots_rules_mbed//:stm32g4

# The following are used to work around
# https://github.com/bazelbuild/bazel/issues/12036 as there is
# otherwise no way to get the bazel-out directory to be different
# across platforms.
build:target --crosstool_top=@com_github_mjbots_rules_mbed//tools/cc_toolchain:toolchain
build:target --cpu=stm32g4


# Because something still tries to use the legacy cc_toolchain_suite (and I
# can't figure out what, we manually specify it).
build:windows --crosstool_top=@llvm_toolchain//:toolchain
build:windows --compiler=clang
build:windows --copt=-D_CRT_SECURE_NO_WARNINGS
build:windows --copt -fms-compatibility-version=20
build:windows --features=vendored_libc++