<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='moteus host tools' Id='*' UpgradeCode='22a7d7e9-c5cd-4245-9c04-09e615a46df4'
    Language='1033' Codepage='1252' Version='0.1.2020.1028' Manufacturer='mjbots Robotic Systems'>

    <Package Id='*' Keywords='Installer'
      Description="moteus host tools"
      Comments='comment' Manufacturer='mjbots Robotic Systems'
      Platform="x64"
      InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="example Installation [1]" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder' Name='PFiles'>
        <Directory Id='mjbots' Name='mjbots'>
          <Directory Id='INSTALLDIR' Name='moteus'>
            <Directory Id='BINDIR' Name='bin'>

              <Component Id='MainExecutable' Guid='815c9c05-1d36-4846-b2c5-69b4d4256c98'>
                <File Id='MoteusToolEXE' Name='moteus_tool.exe' DiskId='1' Source='moteus_tool.exe' KeyPath='yes'>
                </File>
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <DirectoryRef Id="BINDIR">
      <Component Id='SetEnvironment' Guid='6210dfa5-7ec4-40b4-ab6d-033ddb35ea18'>
        <CreateFolder />
        <Environment Id='SET_ENV' Action='set' Name='PATH' Part='last' Permanent='no' System='yes' Value='[INSTALLDIR]\bin' />
      </Component>
    </DirectoryRef>

    <Feature Id='Complete' Title='Example' Description='The complete moteus host tools package.'
      Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='MainProgram' Title='Program' Description='The main executable.' Level='1'>
        <ComponentRef Id='MainExecutable' />
        <ComponentRef Id='SetEnvironment' />
      </Feature>

    </Feature>

    <InstallExecuteSequence>
      <WriteEnvironmentStrings />
    </InstallExecuteSequence>

    <Upgrade Id='22a7d7e9-c5cd-4245-9c04-09e615a46df4'>
    </Upgrade>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <WixVariable Id="WixUILicenseRtf" Value="moteus/tool/apache2.rtf" />
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Icon Id="moteus_tool.exe" SourceFile="moteus_tool.exe" />

  </Product>
</Wix>
